<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE XML>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>CheckCookies</servlet-name>
    <servlet-class>servletTransactionClasses.CheckCookies</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoteEdit</servlet-name>
    <servlet-class>servletTransactionClasses.NoteEdit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShareNote</servlet-name>
    <servlet-class>servletTransactionClasses.ProcessSharingNote</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalInfo</servlet-name>
    <servlet-class>servletTransactionClasses.ProcessPersonalInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCookies</servlet-name>
    <url-pattern>/CheckCookies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteEdit</servlet-name>
    <url-pattern>/NoteEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShareNote</servlet-name>
    <url-pattern>/ShareNote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalInfo</servlet-name>
    <url-pattern>/PersonalInfo</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/Error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/Error.jsp</location>
  </error-page>
</web-app>